body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.number-button { background: #094377; }

.special-button { background: #0B5D9B; }

.operator-button { background: #007291; }

.button {

  margin: 5px;
  width: 60px;
  height: 60px;
  color: white;
  font-size: 25px;
  border-style: none;
  border-radius: 50px;
  border-bottom: darkslategray 4px solid;

}
/*width: '75%', height: '75px', background: '#323335', margin: '0 auto', paddingTop: '0px'*/
/* .display {

  width: 75%;
  height: 75px;
  background: #323335;

} */